# Arquivo de banco de dados SQLite
*.db

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes virtuais
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db
